<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Datails</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 3px;
        }

        button {
            background-color: rgb(214, 63, 63);
            border-radius: 3px;
            padding: 5px;
            border: none;
            margin-left: 2px;
        }
    </style>
</head>

<body>
    <h1>Employee Details</h1>
    <div>
        <h2>Employee List</h2>
        <ol>
            <% dataName.forEach((employee)=>{%>
                <li><%= employee.name %></li>
            <%}) %>
            </ol>
    </div>
    <div>
        <h2>Employees Above 45</h2>
        <!-- <button></button> -->
        <table>
            <tr>
                <th>Employee Name</th>
                <th>Age</th>
                <th>Salary</th>
            </tr>
            <% dataSalary.forEach((employee)=>{ %>

                    <tr>
                        <form action="/edit-or-dlt" method="post">
                            <td>
                                <input type="hidden" name="id" value="<%= employee._id %>">
                                <input type="text" name="name" value="<%= employee.name %>" required>
                            </td>
                            <td>
                                <input type="number" name="age" value="<%= employee.age %>" required>
                            </td>
                            <td>
                                <input type="number" name="salary" value="<%= employee.salary %>" required>
                            </td>
                            <td>
                                <button type="submit" name="action" value="edit">Edit</button>
                                <button type="submit" name="action" value="delete">Delete</button>
                            </td>
                        </form>
                    </tr>


                        <% }) %>
        </table>
    </div>

    <br>
    <a href="/">Go Back</a>
</body>

</html>